{% extends base_template %}
{% load static %}
{% block content%}
<form
    id="create_party_form"
    class="container"
    hx-post="{% url 'create_party' %}"
    hx-trigger="input delay:500ms, click from:#submit"
    hx-push-url="true"
    hx-swap="outerHTML"
    novalidate
>
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.label_tag }}
            {% if field.errors %}
                <ul class="errorlist">
                {% for error in field.errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {{ field }}
            {% if field.help_text %}
            <p class="helptext" id="{{ field.auto_id }}_helptext">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <button id="submit" type="submit" name="submit" value="true"  role="button" class="secondary">Crear nueva partida</button>
</form>
{% endblock %}



