{% extends base_template %}

{% load static %}
{% block content%}
{% if parties %}
<ul class="party-list">
    {% for party in parties %}
        <li>
            <a href="{% url 'detail_party' party.id %}" hx-get="{% url 'detail_party' party.id %}" hx-swap="innerHTML transition:true" hx-target="#content" role="button" hx-push-url="true" class="party {% if party.is_active %}is_active{% else %}not_is_active{% endif %}" title="{{ party.name }}">{{ party.name }}</a>
        </li>
    {% endfor %}
</ul>
{% else %}
    <p>No hay partidas disponibles.</p>
{% endif %}
{% endblock %}
