{% extends base_template %}

{% load static %}
{% block content%}
<div class="grid">
{% if parties %}
<ul>
    {% for party in parties %}
        {% if party.is_active %}
            <a href="{% url 'detail_party' party.id %}" hx-get="{% url 'detail_party' party.id %}" hx-swap="innerHTML transition:true" hx-target="#content" role="button" hx-push-url="true" class="party is_active">{{ party.name }}</a>
        {% else %}
            <a href="{% url 'detail_party' party.id %}" hx-get="{% url 'detail_party' party.id %}" hx-swap="innerHTML transition:true" hx-target="#content" role="button" hx-push-url="true" class="party not_is_active">{{ party.name }}</a>
        {% endif %}
    {% endfor %}
</ul>
{% else %}
    <p>No parties are available.</p>
{% endif %}
</div>
{% endblock %}
