{% if form %}
<form
  id="party_current_answers_form"
  {% if not disabled %}
    ws-send
    hx-trigger="input delay:200ms"
  {% endif %}
  >
  <div>
    {% for field in form.visible_fields %}
      <div class="word_column">
        {{ field.label_tag }}
        {% include "_answer_error.html" %}
        {{ field }}
      </div>
    {% endfor %}
  </div>
  <button
    type="button"
    class="secondary"
    id="submit_stop"
    {% if disabled %}
      disabled
    {% else %}
      ws-send
      hx-vals='{"submit_stop": "on"}'
    {% endif %}
  >STOP</button>
</form>
{% else %}
<p id="party_current_answers_form" aria-busy="true">Esperando la siguiente ronda...</p>
{% endif %}
