<h4>Reportes</h4>
<hr style="height: 3px; border-width: 0; color: gray; background-color: gray" />
<h6>Letra actual</h6>
<div id="current_round_letter">
  <h3>{{ current_round.letter|upper }}</h3>
</div>
<hr style="height: 3px; border-width: 0; color: gray; background-color: gray" />
<h6>Puntos por jugador</h6>
<div id="party_points">
  <table>
    <thead>
      <tr>
        <th class="reports-title"><strong>Jugador</strong></th>
        <th class="reports-title"><strong>Puntos</strong></th>
      </tr>
    </thead>
    <tbody>
      {% for user_name, points in party.get_players_scores.items %}
      <tr>
        <td class="reports-username">{{ user_name }}</td>
        <td class="reports-points">{{ points }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<hr style="height: 3px; border-width: 0; color: gray; background-color: gray" />
