<form>
  <div>
    <div class="word_column">
      <label for="nombre"><strong>Nombre:</strong></label>
      <input type="text" id="nombre" name="nombre" />
    </div>
    <div class="word_column">
      <label for="apellido"><strong>Apellido:</strong></label>
      <input type="text" id="apellido" name="apellido" />
    </div>
    <div class="word_column">
      <label for="ciudad"><strong>Ciudad:</strong></label>
      <input type="text" id="ciudad" name="ciudad" />
    </div>
    <div class="word_column">
      <label for="animal"><strong>Animal:</strong></label>
      <input type="text" id="animal" name="animal" />
    </div>
    <div class="word_column">
      <label for="cosa"><strong>Cosa:</strong></label>
      <input type="text" id="cosa" name="cosa" />
    </div>
    <div class="word_column">
      <label for="color"><strong>Color:</strong></label>
      <input type="text" id="color" name="color" />
    </div>
  </div>

  <div>
    <button class="secondary" type="submit" style="width: 100%">STOP</button>
  </div>
</form>
