<table class="party_anwsers_table">
  <thead>
    <tr>
      <th><strong>Letra</strong></th>
      <th><strong>Nombre</strong></th>
      <th><strong>Apellido</strong></th>
      <th><strong>Ciudad</strong></th>
      <th><strong>Animal</strong></th>
      <th><strong>Cosa</strong></th>
      <th><strong>Color</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>J</td>
      <td>juan</td>
      <td>jiraldo</td>
      <td>jalisco</td>
      <td>javali</td>
      <td>juete</td>
      <td>jazmin</td>
    </tr>
    <tr>
      <td>M</td>
      <td>María</td>
      <td>Magdalena</td>
      <td>Manizales</td>
      <td>Manati</td>
      <td>Masmelo</td>
      <td>Marron</td>
    </tr>
    <!-- Aquí puedes agregar más filas con los resultados anteriores -->
  </tbody>
</table>
