<table class="party_answers_table" id="party_answers_table">
  <thead>
    <tr>
      <th><strong>Letra</strong></th>
      <th><strong>Nombre</strong></th>
      <th><strong>Apellido</strong></th>
      <th><strong>País</strong></th>
      <th><strong>Ciudad</strong></th>
      <th><strong>Animal</strong></th>
      <th><strong>Cosa</strong></th>
      <th><strong>Color</strong></th>
    </tr>
  </thead>
  <tbody>
    {% for round in rounds %}
      <tr>
        <td>{{ round.letter }}</td>
        <td>{{ round.name }}</td>
        <td>{{ round.last_name }}</td>
        <td>{{ round.country }}</td>
        <td>{{ round.city }}</td>
        <td>{{ round.animal }}</td>
        <td>{{ round.thing }}</td>
        <td>{{ round.color }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
